body {
  background-image: url("/assets/images/backgrounds/green-gradient.png");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: "Dream Avenue";
  src: url("/assets/fonts/Dream-Avenue.ttf") format("truetype");
}

h1 {
  font-family: "Dream Avenue";
  font-size: 9vw;
  color: #cbb768;
  text-transform: uppercase;
}

/* -------NAVS----- */

.collapse-nav {
  background-color: transparent;
  border: none !important;
}

.nav-link {
  color: black;
  font-family: "Tenor Sans";
}

.nav-link:hover {
  text-decoration: overline;
  color: #cbb768;
  cursor: pointer;
  text-transform: uppercase;
}

/* -------Main-------- */

.main-container {
  flex-grow: 1 !important;
}

.profession {
  font-family: "Tenor Sans";
  font-size: large;
}

/* ANIMATION */
.oval-container {
  margin-top: -20px;
  margin-left: -40px;
}

.btn-close:focus {
  outline: 0;
}

.oval {
  border-radius: 50%;
  transform: rotate(-15deg);
  position: absolute;
  background-color: none; /* Replace with your desired background color */
  border: 1px solid #cbb768;
  margin-bottom: 10px;
  opacity: 0;
  /* animation: appearAnimation 1s ease forwards; */
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    transform: rotate(-90deg);
  }
  25% {
    opacity: 0.25;
    transform: rotate(20deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-20deg);
  }
}

@keyframes appearAnimationMid {
  0% {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    transform: rotate(-90deg);
  }
  25% {
    opacity: 0.25;
    transform: rotate(-20deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-9deg);
  }
}

@keyframes appearAnimationUp {
  0% {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    transform: rotate(-90deg);
  }
  25% {
    opacity: 0.25;
    transform: rotate(-20deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 540px) {
  #menu {
    margin-left: -3vw !important;
  }
}
