#Navbar{
    border-bottom: .7px solid rgba(0,0,0,.3) !important;
}


/* Link Styling */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.linkStyle{
    /* font-family: 'Climate Crisis', sans-serf; */
    font-family: 'Abril Fatface';
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}