:root{
    --light: #F0E5E6;
    --dark: #6A4D5B;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Climate+Crisis&family=Gloock&family=Raleway:wght@100&display=swap');
body {
    background-color: var(--light);
    width: 100vw;
    height: 100vh;
}